@import url('https://www.w3schools.com/w3css/4/w3.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css');
.example {
    float:  left;
    width:  150px;
    height: 250px;
    background-size: cover;
}
.example-cover img {
  object-fit: cover;
}
h2 {
    text-align: center;
    font-family: courier;
    font-weight: bold;
}