<app-header></app-header>
<app-nav></app-nav>

<section class="w3-container w3-center w3-content mt-5 mb-5">
  <div class="container">
        <h2 class="w3-wide text-center">Majlis Khuddam ul Ahmaddiya Ottawa East</h2>
    <p class="w3-opacity text-center"><i>Message From Qaid Malis</i></p>
    <p class="text-justify ">Dear Brothers,
  As the year of 2019 comes to an end we must reflect on our past year, and our future steps. When
  individuals set goals for the new year there is great planning but remember that none of this is
  possible without the grace of Allah. Hazrat Khalifatul Masih V (atba) has constantly reminded us to
  reflect on our relationship with Allah, and our pledge of Bai&#39;at to the Promised Messiah (as). How much
  we fulfilled our pledges last year and if there were any deficiencies how can we make good this year? As
  Khuddam we recite the pledge &quot;I shall sacrifice my life, wealth, time and honour for the sake of my faith,
  country and nation&quot; 2020 requires you to come forward ready to fulfill your religious obligations even
  more-so than last year. May Allah grant us peace and success going forward, Ameen!
  
  Wasalaam, Waheed Ahmed</p>
  </div>
  </section>

  <section class="bg-light founder-section  pt-5 pb-5 mb-5">
    <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
   

      <div class="col">
        <div class="card shadow-sm">
       
        <img src="assets/images/khuddam/shahjehanahmed.jpg" alt="Random Name" class="home-founder-img" >
        <div class="card-body">
          <h4>Shahjehan Ahmad.</h4>
        <p>Naib Qaid</p>
        </div>
        </div>
        </div>
      <div class="col">
        <div class="card shadow-sm">
      
        <img src="assets/images//khuddam/aneesahmed.jpg" class="home-founder-img" alt="Random Name" >
        
        <div class="card-body">
          <h4>Anees Ahmed</h4>
        <p>Naib Qaid</p>
        </div>
      </div>
    </div>
  <div class="col">
    <div class="card shadow-sm">
       
        <img src="assets/images/Mirza-Bashiruddin-Mahmud-Ahmad.png" class="home-founder-img" alt="Random Name" >
        <div class="card-body">
          <h4>Murabi Atfal</h4>
        <p> XYZ</p>
        </div>
      </div>
    </div>
  <div class="col">
    <div class="card shadow-sm">
      
        <img src="assets/images//khuddam/maulanafarhaniqbalsb.jpg" class="home-founder-img" alt="Random Name" >
        <div class="card-body">
        <h4> Maulana Frahan Iqbal sb</h4>
        <p>Murabi Sb</p>
        </div>
      </div>
    </div>
  <div class="col">
    <div class="card shadow-sm">
       
        <img src="assets/images/khuddam/shahjehanahmed.jpg" class="home-founder-img" alt="Random Name" >
        <div class="card-body">
        <h4>Shahjehan Ahmed</h4>
        <p>Aitemad</p>
        </div>
      </div>
    </div>
  <div class="col">
    <div class="card shadow-sm">
      
        <img src="assets/images//khuddam/shoaibakbar.jpg" class="home-founder-img" alt="Random Name" >
        <div class="card-body">
        <h4>Sohaib Akbar</h4>
        <p>Naib Aitemad</p>
        </div>
      </div>
    </div>


      </div>
    </div>
  </section>
<!-- Amila Members -->
<!--
<section class="w3-row-padding w3-center w3-light-grey">
  <article class="w3-third">
    <p>Naib Qaid</p>
    <img src="assets/images/khuddam/shahjehanahmed.jpg" alt="Random Name" class="example example-cover" >
    <p>Shahjehan Ahmad.</p>
  </article>
  <article class="w3-third">
    <p>Naib Qaid</p>
    <img src="assets/images//khuddam/aneesahmed.jpg" class="example example-cover" alt="Random Name" >
    <p>Anees Ahmed</p>
  </article>
  <article class="w3-third">
    <p>Murabi Atfal</p>
    <img src="assets/images/Mirza-Bashiruddin-Mahmud-Ahmad.png" class="example example-cover" alt="Random Name" >
    <p> XYZ</p>
  </article>
  <article class="w3-third">
    <p>Murabi Sb</p>
    <img src="assets/images//khuddam/maulanafarhaniqbalsb.jpg" class="example example-cover" alt="Random Name" >
    <p> Maulana Frahan Iqbal sb</p>
  </article>
   <article class="w3-third">
    <p>Aitemad</p>
    <img src="assets/images/khuddam/shahjehanahmed.jpg" class="example example-cover" alt="Random Name" >
    <p>Shahjehan Ahmed</p>
  </article>
  <article class="w3-third">
    <p>Naib Aitemad</p>
    <img src="assets/images//khuddam/shoaibakbar.jpg" class="example example-cover" alt="Random Name" >
    <p>Sohaib Akbar</p>
  </article>
</section>
-->
<div class="container">
    <h2>Departments</h2>
    <p>This year following Amila Members are appointed to serve in following departments</p>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Khidmat e khalq</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body"><img src="assets/images/alislam.jpeg" alt="W3Schools.com">I am serving this year in department of khidmat e khalq</div>
        </div>
        
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Tarbiyat</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body"><img src="assets/images/alislam.png" alt="W3Schools.com">I am serving as Nazim Tarbiyat.</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Sehat e Jismani</a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body"><img src="assets/images/mta.png" alt="W3Schools.com">I am serving as Nazim Sehat e Jismani.</div>
        </div>
      </div>
    </div> 
  </div>

  <app-ktabset></app-ktabset>
  <app-pdfviewer></app-pdfviewer>
  <app-footer></app-footer>