<footer class="footer mt-5 pt-5 pb-5 bg-light"> 
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <h5>Affiliated Websites</h5>
                <ul style="list-style-type:disc"> 
                    <li><img src="assets/images/alislam.png" style="float:left; height:16px; width:16px" hspace="5"><a href= "https://www.alislam.org/">alislam.org</a></li>	
                             
                    <li><img src="assets/images/mta.png" style="float:left; height:16px; width:16px" hspace="5"><a href="http://mta.tv">mta.tv</a></li> 
                    <li><img src="assets/images/ask_islam.png" style="float:left; height:16px; width:16px" hspace="5"><a href="http://www.askislam.org/" target="_blank">askislam.org</a></li> 
                    <li><img src="assets/images/booksonislam.png" style="float:left; height:16px; width:16px" hspace="5"><a href="https://www.booksonislam.org/" target="_blank">booksonislam.org</a></li> 
                                </ul> 
            </div>
            <div class="col">
                <h5>Learn</h5>
                <ul> 
                    <li>Algorithms</li> 
                    <li>Data Structures</li> 
                    <li>Languages</li> 
                    <li>CS Subjects</li> 
                    <li>Video Tutorials</li> 
                </ul> 
            </div>
            <div class="col">
                <h5>Practice</h5>
                <ul> 
                    <li>Company-wise</li> 
                    <li>Topic-wise</li> 
                    <li>Contests</li> 
                    <li>Subjective Questions</li> 
                </ul> 
            </div>
        </div>
    </div>
</footer>
