<nav class="navbar-expand-sm navbar-expand-md navbar-expand-lg navbar navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
          <li class="nav-item"><a [routerLink]="['/dashboard']" routerLinkActive="active" class="nav-link" >Dashboard</a></li>
          <li class="nav-item"><a [routerLink]="['/admin']"  routerLinkActive="active" class="nav-link" *ngIf="currentUser && currentUser.is_admin" >Admin Portal</a></li>
          <li class="nav-item"> <button type="button" class="btn btn-info" (click)="onLogOut()">Logout</button></li>
      </ul>
  </div>
</nav>
<router-outlet></router-outlet>
