#header-text{
    height:200px;
    border:2px solid;
    background-color: #1879b9;
    padding: 10px 10px;
    text-align: center;
   }
  #header-right {
    float: right;
  }
  #slogan-text {
    font-style: italic;
    text-align: center;
    font-weight: bold;
    
  }
  #header-logo {
    float: left;
    width: 200px;
    height: 75px;
  }
  #header-50yrlogo {
    float: right;
    width: 150px;
    height: 100px;
  }
  #header-bismillah {
    width: 250px;
    height: 50px;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }