<div id="header-text">
	<img src="assets/images/Bismillah_w.png" id="header-bismillah" alt="Bismillah" />
	<img src="assets/images/logo.png" id="header-logo" alt="logo" />
	<img class="d-none d-sm-block" src="assets/images/50yr_logo.png" id="header-50yrlogo" alt="50yrlogo" />
    <h1 class="d-none d-sm-block"><strong id="top-title">Bait Un Naseer Mosque</strong></h1>
    <p class="d-none d-sm-block" id="slogan-text">"Nations cannot be reformed without the reformation of the youth" -Hadhrat Musleh Mau'ud (ra)</p>
	
</div>
