<form [formGroup]="userForm" (ngSubmit)="onSubmit()" >
    <div class="modal-header">
        <h5 class="modal-title" id="modal-title">Edit User Details</h5>
        <button type="button" (click)="modal.dismiss('cancel click')"  class="close" data-dismiss="modal"><span>X</span></button>
    </div>
    <div class="modal-body">
  <div class="form-group">
  <label>Member Code:</label>
    
      <input type="text" placeholder="memberCode"formControlName="memberCode"/>
    
  </div>

  <div class="form-group">
  <label>First Name:</label>
  
    <input type="text" placeholder="first_name" formControlName="first_name" />
  </div>

  <div class="form-group">
  <label>Last Name:</label>
  
    <input type="text" placeholder="last_name" formControlName="last_name" />
  </div>

  <div class="form-group">
  <label>Email:</label>
  
    <input type="email" placeholder="Email" formControlName="email" size="25"/>
  </div>

  <div class="form-group">
  <label>City:</label>
  
    <input type="text" placeholder="City" formControlName="city" />
  </div>

  <div class="form-group">
  <label>Province:</label>
  
    <input type="text" placeholder="Province" formControlName="province" />
  </div>

  <div class="form-group">
  <label>DoB:</label>
  
    <input type="text" placeholder="Dob" formControlName="dob" />
  </div>

  <div class="form-group">
  <label>Profession:</label>
  
    <input type="text" placeholder="profession" formControlName="profession" />
  </div>

  <div class="form-group">
  <label>Postal Code:</label>
  
    <input
      type="text"
      placeholder="postal_code"
      formControlName="postal_code"
    />
  </div>
    </div>
    <div class="modal-footer">
        <a  (click)="modal.dismiss('cancel click')"  class="btn btn-outline-secondary">Back to Dashboard</a>
        <button type="submit" class="btn btn-danger" [disabled]="submitted">Save</button>
    </div>
</form>