<!-- Band Description -->
<app-header></app-header>
<app-nav></app-nav>
<div class="container">

</div>

<section class="container mt-5">
    <h2 class="w3-wide text-center">History Of Jamaat Ottawa E</h2>
    <p class="w3-opacity  text-center"><i>Love For All Hatred For None</i></p>
    <p class="w3-justify text-justify">The Ahmadiyya Muslim Community was named after its founder Mirza Ghulam Ahmad.
  
  
  The Ahmadi believe Mirza Ghulam Ahmad is a true prophet of Islam.
  Mirza Ghulam Ahmad
  
  It was founded in 1889 in Qadian, India. After a move to Pakistan in 1947, the headquarters eventually became based in London, England.
  
  Ahmadiyya is a peaceful religion that sees its divinely chosen leader, the khalifa, as a spiritual guide instead of a political power. There are between 10 and 20 million people in the world that identify as Ahmadi Muslim. While this seems like a large number, it accounts for less than 2% of the total worldwide Muslim population.
  
  Due to a doctrinal divide, many Ahmadi are persecuted by the orthodox Muslim ummah (Islamic term for community). In fact, anti-Ahmadi sentiment became so strong that in 1974, the Pakistani prime minister declared Ahmadiyya to be non-Muslim. Over time, this declaration led to a ban on the term mosque being used to define Ahmadi places of worship.
  
  It is interesting to note that even the sect of Ahmadiyya has divided into two sects: the Ahmadi (or Qadiani) and the Lahore Party. This divide was caused by a fundamental difference in how each group labeled Ahmad: either as a true prophet (Ahmadi) or as a reviver of the faith (Lahore).</p>
  </section>
  
  <section class="bg-light founder-section  pt-5 pb-5 mb-5">
    <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
            <img src="assets/images/founder.png" class="home-founder" />  
          <div class="card-body">
            <h4>Hazrat Mirza Ghulam Ahmad.</h4>
            <p class="card-text">Founder</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">        
          <img src="assets/images/Hazrat-Maulvi-Nooruddin.png" class="home-founder" alt="Random Name" >
          <div class="card-body">          
            <h4>Hazrat Maulvi Nooruddin(ra).(1908-1914)</h4>
            <p class="card-text">Khalifatul Masih I.</p>
          </div>
        </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">        
        <img src="assets/images/Mirza-Bashiruddin-Mahmud-Ahmad.png" class="home-founder" alt="Random Name" >
        <div class="card-body">          
          <h4> Hazrat Bashiruddin Mahmud Ahmad(ra).(1914-1965)</h4>
          <p class="card-text">Khalifatul Masih II.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">        
        <img src="assets/images/Mirza-Nasir-Ahmad.png" class="home-founder" alt="Random Name" >        
        <div class="card-body">          
          <h4> Hazrat Mirza Nasir Ahmad(rh).(1965-1982)</h4>
          <p class="card-text">Khalifatul Masih III.</p>
        </div>
      </div>
    </div>
    <div class="col">
       <div class="card shadow-sm">        
        <img src="assets/images/mirza-tahir-ahmad.png" class="home-founder" alt="Random Name" >        
        <div class="card-body">          
          <h4>Hazrat Mirza Tahir Ahmad(rh).(1982-2003)</h4>
          <p class="card-text">Khalifatul Masih IV.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">       
        <img src="assets/images/mirza-masroor-ahmad.png" class="home-founder" alt="Random Name" >        
        <div class="card-body">
          <h4>Hazrat Mirza Masroor Ahmad(aba)</h4>
          <p class="card-text">Khalifatul Masih V.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>
  

  <!-- Band Members -->
  <!--<section class="w3-row-padding w3-center w3-light-grey">
    <article class="card shadow-sm">
      <p>Founder</p>
      <img src="assets/images/founder.png" alt="Random Name" class="example" style="object-fit:cover">
      <p>Hazrat Mirza Ghulam Ahmad.</p>
    </article>
    <article class="w3-third">
      <p>Khalifatul Masih I.</p>
      <img src="assets/images/Hazrat-Maulvi-Nooruddin.png" class="example example-cover" alt="Random Name" >
      <p>Hazrat Maulvi Nooruddin(ra).(1908-1914)</p>
    </article>
    <article class="w3-third">
      <p>Khalifatul Masih II.</p>
      <img src="assets/images/Mirza-Bashiruddin-Mahmud-Ahmad.png" class="example example-cover" alt="Random Name" >
      <p> Hazrat Bashiruddin Mahmud Ahmad(ra).(1914-1965)</p>
    </article>
    <article class="w3-third">
      <p>Khalifatul Masih III.</p>
      <img src="assets/images/Mirza-Nasir-Ahmad.png" class="example example-cover" alt="Random Name" >
      <p> Hazrat Mirza Nasir Ahmad(rh).(1965-1982)</p>
    </article>
     <article class="w3-third">
      <p>Khalifatul Masih IV.</p>
      <img src="assets/images/mirza-tahir-ahmad.png" class="example example-cover" alt="Random Name" >
      <p>Hazrat Mirza Tahir Ahmad(rh).(1982-2003)</p>
    </article>
    <article class="w3-third">
      <p>Khalifatul Masih V.</p>
      <img src="assets/images/mirza-masroor-ahmad.png" class="example example-cover" alt="Random Name" >
      <p>Hazrat Mirza Masroor Ahmad(aba)</p>
    </article>
  </section>-->
  <app-slider></app-slider>
  <app-footer></app-footer>