
$primary: #000000;
$secondary:#373737;
$third:#cb2029;
$four:#c8c8c7;
$five:#2ac569;
$six:#58595b;
$sevan:#f1f4f4;
$eate:#a7a9ac;
$nine:#685032;
$white:#fff;
$info:#0575A7;

$digit1:5px;
$digit2:10px;
$digit3:15px;
$digit4:20px;
$digit5:25px;
$digit6:30px;
$digit7:35px;
$digit8:40px;
$digit9:45px;
$digit10:50px;
$digit11:55px;
$digit12:60px;
$digit13:65px;
$digit14:70px;
$digit15:75px;
$digit16:80px;
$digit17:85px;
$digit18:90px;
$digit19:95px;
$digit20:100px;

$w100p:100%;
$zero:0; 
$start: 2rem;