table tbody tr.res-inactive td { opacity: 0.4; }
.inactive-icon{opacity: 0.4;}
.select2-container--default .select2-selection--multiple .select2-selection__rendered{padding-left:0px !important; padding-right:0px !important;}
.select2-container--default .select2-selection--multiple{ border:0 !important; background:#fff !important;}
.select2-container--default .select2-selection--multiple .select2-selection__choice{ background:#e1e1e1!important; border:0px solid #ece !important; font-size:14px; color:#616161; border-radius:50px !important; padding-left:8px !important; padding-right:8px !important;}
.select2-container .select2-search--inline .select2-search__field{ height:10px!important;}
.select2-results__option{ padding-bottom:0!important; padding-top:0!important; font-size:12px;}
.left0{left:0%;}

a.icon-lock {width: 11px; text-align: center; display: inline-block;}
.disable_tablet {
    opacity: .1;
    pointer-events: none;
}
