<!-- Navigation -->
<!--<nav class="w3-bar w3-black">
  <a [routerLink]="['/']"  class="w3-button w3-bar-item" >Home</a>
  <a [routerLink]="['/khuddam']"   class="w3-button w3-bar-item" >Khuddam</a>
  <a [routerLink]= "['/ansar']"  class="w3-button w3-bar-item">Ansar</a>
  <a  class="w3-button w3-bar-item"target="_blank">Atfal</a>
  <a class="w3-button w3-bar-item"target="_blank">Jamaat</a>
  <a [routerLink]="['/facility']"  class="w3-button w3-bar-item">Facilities</a>
  <a [routerLink]="['/eventinfo']" class="w3-button w3-bar-item">Event Info</a>
  <a  [routerLink]="['/contact']"class="w3-button w3-bar-item">Contact</a>
  <a  [routerLink]="['/registration']"class="w3-button w3-bar-item">Registration</a>
  <a  [routerLink]="['/login']"class="w3-button w3-bar-item">Login</a>
  <a  [routerLink]="['/library']"class="w3-button w3-bar-item">Library</a>
</nav>
-->

<nav class="navbar-expand-sm navbar-expand-md navbar-expand-lg navbar navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
          <li class="nav-item"><a [routerLink]="['/']" routerLinkActive="active" class="nav-link" >Home</a></li>
          <li class="nav-item"><a [routerLink]="['/khuddam']" routerLinkActive="active" class="nav-link" >Khuddam</a></li>
          <li class="nav-item"><a [routerLink]= "['/ansar']"  routerLinkActive="active"class="nav-link" >Ansar</a></li>
          <li class="nav-item"><a href="#" class="nav-link" >Atfal</a></li>
          <li class="nav-item"><a [routerLink]="['/facility']" routerLinkActive="active" class="nav-link" >Facilities</a></li>
          <li class="nav-item"><a [routerLink]="['/eventinfo']" routerLinkActive="active" class="nav-link" >Event Info</a></li>
          <li class="nav-item"><a [routerLink]="['/contact']"  routerLinkActive="active" class="nav-link" >Contact</a></li>
          <li class="nav-item"><a [routerLink]="['/registration']" routerLinkActive="active" class="nav-link" >Registration</a></li>
          <li class="nav-item"><a [routerLink]="['/login']" routerLinkActive="active" class="nav-link" >Login</a></li>
          <li class="nav-item"><a [routerLink]="['/library']" routerLinkActive="active" class="nav-link" >Library</a></li>

         <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Test
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
          </li>-->
      </ul>
  </div>
</nav>
<router-outlet></router-outlet>
